<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Costo</th>
      <th>Ganancia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.codigo %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.marca.nombre %></td>
        <td><%= producto.categoria.descripcion %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.costo %></td>
        <td><%= producto.ganancia %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
